.footer__column-link {
  text-decoration: none;
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  align-items: baseline;
}

.footer__column-link:hover {
  text-decoration: underline;
}

.footer__column-link:last-child {
  margin-bottom: 0;
}
