.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  overflow: hidden;
}

.logo {
  height: 32px;
  width: 183px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 4;
}

.header__title {
  font-size: 102px;
  width: 730px;
  line-height: 96px;
  margin-left: 64px;
  align-self: center;
  z-index: 3;
  font-weight: bolder;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  z-index: 2;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

.description {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
  min-height: 366px;
}

.two-columns__brief {
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  font-weight: bolder;
}

.digits {
  padding: 100px 0;
}

.section-title {
  width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: bolder;
  text-align: center;
  margin: 0 auto 20px;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24 px;
  font-weight: normal;
  text-align: center;
  margin: 0 auto;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bolder;
  margin: 0 0 20px;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 20px;
}

.table__text:last-child {
  margin: 0;
}

.feinman {
  height: 790px;
  background: url(../images/feynman.png) no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;
  text-align: center;
  position: relative;
  background-color: #f2f2f2;
  padding-top: 100px;
  box-sizing: border-box;
}

.feinman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bolder;
  width: 648px;
  text-align: center;
  margin: 0 auto 70px;
}

.feinman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.feinman__link {
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  right: 48px;
  top: 50%;
}

.kaufman {
  background: #1f1f1f;
  padding: 90px 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.section-title_theme_dark, .section-subtitle_theme_dark, .table_theme_dark {
  color: white;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
}

.footer {
  min-height: 350px;
  background: #1f1f1f;
  position: relative;
  padding: 60px 0 40px;
  box-sizing: border-box;
}

.footer__columns {
  flex-basis: 711px;
  width: 90%;
  margin: 0 auto;
  color: #fff;
  display: flex;
  justify-content: space-between;
  min-height: 250px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0 0 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bolder;
}

.footer__column_content_copyright {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.footer__column-link {
  text-decoration: none;
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  align-items: baseline;
}

.footer__column-link:last-child {
  margin-bottom: 0;
}

/* .footer__social-icon {
  margin-right: 10px;
  vertical-align: middle;
} */

.footer__social-icon {
  margin-right: 10px;
  display: inline-block;
  width: 15px;
  height: 15px;
}
